# GCP 설정
GCP_PROJECT_ID=s201-475706
GCS_BUCKET=brain-deck
GCS_CREDENTIAL_PATH=/etc/gcp/key.json

# AI 모델 SDK 경로
FREEVC_SDK_PATH=/path/to/freevc/sdk
W2L_SDK_PATH=/path/to/wav2lip/sdk

# 서버 설정
DEBUG=false
PROJECT_NAME=serving-server
